{% extends "layout.twig" %}
{% block content %}

{# Content #}
<article class="the-content">
  <header>
    <h1>{{ post.title }}</h1>
    <p>
      Written by {{ post.author.display_name }} on <time>{{ post.post_date | date }}</time>
    </p>
  </header>

  {{ post.content }}  

  <footer>
    {% include "_author-info.twig" with { author: post.author } %}
  </footer>
</article>

{% endblock %}